form label
		{
		padding:0px 10px;
		width: 160px;
		}

	form .error{
		color: #c00;
		}

	form label.error
		{
		color: #c00;
		font-size: 100%;
		font-weight: bold;
		font-variant:small-caps;
		width:308px;
		display: none;
		padding:3px 0px 0px 5px;
		}

	form label.info{
		font-size: 100%;
		font-weight: bold;
		font-variant:small-caps;

		margin:8px 0px 0px 180px;
		padding:3px 0px 0px 5px;
		}

/*jquery validate*/
input.error { border: 1px solid red; }
label.error {
  background:url("./demo/images/unchecked.gif") no-repeat 0px 0px;

  padding-left: 16px;

  padding-bottom: 2px;

  font-weight: bold;

  color: #EA5200;
}
label.checked {
  background:url("./demo/images/checked.gif") no-repeat 0px 0px;
}