html.body {height:100%}
/*layout*/
.voNavWrap{width:1000px;margin:0 auto}
.sideleft{float:left;width:120px;height:100%;margin-top:10px}
.voMain{margin-left:130px;zoom:1;margin-top:10px}
.voMain ul{overflow:hidden;zoom:1}
/*product form*/
.formTip{padding:0 10px 8px}
.formList{border-collapse:collapse;border-spacing:0;width:100%}
.formList th{padding:6px 0 6px 6px;vertical-align:top;text-align:right;font-weight:normal}
.formList td{padding:6px 10px 6px 0;vertical-align:top}
.formList .t{margin-right:5px}
.formList small, .popTable small{font-size:12px;color:#8d8d8d;line-height:18px;padding:5px 0;display:block}
.formList a{color:#4171DF}
.formList a:hover{color:#ff8300}
.formList .red, .tableForm .red{vertical-align:middle}
.formList label{margin-right:15px}
.formList .add,.formList .common{margin-top:10px;margin-right:4px}
.formList .wrong{clear:both}
/*footer*/
#footer{position:absolute;bottom:0;left:50%}
#footer p{position:relative;left:-500px;color:#999;padding:6px 0 30px;border-top:2px solid #e4e3e3;text-align:center}
/*nav*/
.voTopWrap{margin:3px 15px 8px;overflow:hidden;zoom:1}
.voNav{margin-left:25px;overflow:hidden;zoom:1;clear:both}
.voNav li{float:left;margin-right:25px;display:inline;padding-bottom:3px}
.voNav a{font-size:14px;font-weight:bold;color:#333}
.voNav a:hover{color:#006ab1;text-decoration:none}
.voNav .cur{background:url(../images/nav_hover.gif) no-repeat bottom center}
.iShow{background-position:-5px -2px}
.iVisit{background-position:-5px -23px}
.iAccount{background-position:-5px -46px}
.iComu{background-position:-5px -67px}
/*pager*/
#pager{margin:10px 4px}
#pager  a, #pager  span{margin:0 6px}
#pager  a{color:#4171DF}
#pager  input{width:35px!important;margin:0 3px;text-align:center}
/*Pager2
.pager2{line-height:normal;text-align:center;padding:20px 0}
.pager2 .pageNum{text-align:center}
.pageNum a, .pageNum strong{vertical-align:middle}
.pageNum a:link, .pageNum a:visited, .pageNum strong{margin:0 2px;padding:2px 5px;background-color:#f1f5fe;border:1px solid #cbd7ef;color:#555}
.pageNum a:visited{color:#0B4A9F}
.pageNum a:hover, .pageNum b a:hover, .pageNum .now:link, .pageNum .now:visited, .pageNum .now:hover, .pageNum strong{background-color:#5378c6;border-color:#c9d8ef;color:#FFF !important}
.pageNum img{border:none;margin:0}
.pageNum input{border:1px solid #cbd7ef;width:35px;margin-left:40px;vertical-align:middle}
.pageMark{font-family:tahoma, Arial, Helvetica, sans-serif;padding:10px 0 5px 0;font-size:91.67%;text-align: center}
.pageMark a{color:#4171DF}
.pageMark a, .pageMark strong{padding:1px;margin-left:3px}*/
/*product image*/
.proOuter{display:table;text-align:center;width:120px;height:120px}
.proOuter .inner{display:table-cell;*display:inline;*height:100%;*writing-mode:tb-rl;vertical-align:middle}
.proOuter img{vertical-align:middle}
/*main box*/
.mainBox h1{font-size:14px;padding:7px 0 10px;text-align:left}
.mainBox .bd{padding:15px 25px}
/*side tree*/
.treel{padding:5px;overflow:hidden;zoom:1;background:#2c2c2c url(../images/vo_sidenav_btm.gif) no-repeat bottom left}
.treel .menuHover,.treel .openmenu,.treel .menu{background:url(../images/menu-top.gif) no-repeat}
.treel .menu{color:#fff;line-height:26px;padding-left:20px;cursor:pointer;height:26px;margin:5px 0}
.treel .openmenu{background-position:0 -52px;color:#000}
.treel .menuHover{background-position:0 -26px}
.treel .tL{margin-top:0}
.treel .last{margin-bottom:0}
.childmenu li{padding:4px 0}
.childmenu a{display:block;padding-left:20px;height:22px;line-height:22px;color:#888}
.childmenu a:hover{color:#fff;text-decoration:none}
.childmenu .now{color:#fff;background:url(../images/child_nav_hover.gif) no-repeat right center;position:relative;right:-5px;padding-left:15px}
/*main tab*/
.mainTab{height:24px;border-bottom:1px solid #bcbcbc;position:relative}
.mainTab ul{padding-left:2px}
.mainTab li{float:left;margin-left:7px;position:relative;top:1px;display:inline}
.mainTab li a,.mainTab li span{display:inline-block;height:24px;line-height:24px;background-repeat:no-repeat}
.mainTab li a{padding-left:12px}
.mainTab li a:hover{background-position:0 -50px}
.mainTab a:hover span{background-position:right -50px}
.mainTab li span{padding-right:15px;background-position:right 0;position:relative;right:-3px}
.mainTab .cur a{background-position:0 -25px!important;height:25px}
.mainTab .cur span{background-position:right -25px!important;font-weight:bold}
.mainTab a:hover{text-decoration:none}
.mainTab a:hover span{color:#454545}
.mainTab .picEditLink{position:absolute;right:10px;top:4px;line-height:15px;line-height:18px\9}
.picEditLink{background-position:-4px -88px;padding-left:25px;display:inline-block;color:#3f72df;font-weight:bold}
/*filter*/
.filterTop{height:28px;line-height:28px;border:1px solid #e5e5e5;background-position:0 -260px;padding-left:6px;color:#B7B7B7;margin-bottom:10px}
.filterBox{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:20px;padding:5px 7px;background:#ededed;margin:10px 0;color:#b7b7b7}
.filterBox a,.filterTop a{margin:0 4px}
.filterBox .cur,.filterTop .cur{font-weight:bold;color:#3f71e0}
.filterBox .fr{color:#454545;line-height:20px}
.filterSub{background:#deecfd}
/*booth tree*/
.boothTree dl{margin-bottom:10px}
.boothTree dt,.boothTree dd{line-height:22px;padding-left:15px}
.boothTree dd a{line-height:22px}
.boothTree dt{font-weight:bold;color:#666}
.boothTree dt{background:url(../images/tree_close.gif) no-repeat 0 center;cursor:pointer}
.boothTree dd{display:none}
.boothTree dd ul{margin:3px 0}
.boothTree dd li{padding-left:20px;line-height:20px}
.boothTree .op{background-image:url(../images/tree_open.gif)}
.btOpr{background-position:0 -100px;width:85px;height:23px;text-align:center;line-height:23px}
.rcl,.rcr{display:inline-block;font-size:0}
/*ad*/
.ad{font-size:0;margin-bottom:10px}
/*media*/
.mediaGallery{overflow:hidden;zoom:1}
.mediaGallery li{width:12.5%;float:left;text-align:center;margin-bottom:16px;overflow:hidden;zoom:1;text-align:center}
.mediaGallery .proOuter{width:90px;height:90px; margin:0 auto}
.mediaGallery p{margin-top:3px}
/**/
.voMain h1{font-size:14px;padding:12px 5px 5px;border-bottom:2px solid #ccc;margin:-10px 0 10px}
.voMain h1 span{font-weight:normal;margin-left:6px}
.listBatch{zoom:1;margin-bottom:10px;height:30px;background:url(../images/list_search_bg.gif) repeat-x; padding-top:9px}
.listSearch{float:left;margin:0 40px 0 15px}
.listSearch .t{height:14px;padding:3px 4px 2px;padding:5px 4px 0\9;border:1px solid #99bae6; padding-top:3px\9; height:17px\9;*margin-right:4px}
.listSearch .dropItem{ display:inline; margin-right:5px}
/*index*/
#indexContent{width:650px;float:left}
#indexRight{width:210px;float:right}
.indexBox{width:318px;border:1px solid #d8d8d8;margin-bottom:10px;*margin-bottom:0}
.indexBox .hd{height:28px;line-height:28px;background-position:0 -135px;padding:0 10px;position:relative;border-bottom:1px solid #e9e9e9}
.indexBox .bd{padding:10px;overflow:hidden;zoom:1;background:#fff}
.indexBox .bd2{padding:15px 5px 10px 10px}
.indexBox h2{font-size:14px;font-weight:bold;line-height:28px}
.indexBox .more{position:absolute;right:10px;top:0;color:#999}
.indexBox .more:hover{color:#ff8300}
#busCard{border-color:#d1ddf0;background:#f4faff}
#busCard .mixWrap{padding:12px 0 12px 12px}
#busCard strong{display:block;margin-bottom:6px}
#busCard strong a{font-size:14px}
#busCard strong span{font-size:12px;font-weight:normal;margin-left:10px;color:#999}
#busCard li{line-height:22px}
#busCard li span{display:inline-block;width:76px;text-align:right;color:#666}
#idxBuildTable{clear:both;margin-bottom:10px}
#idxBuildTable h2{font-size:14px;padding:5px 10px;border:1px solid #d8d8d8;background:#fff;border-bottom:none}
#idxBuildTable table{border-top:1px solid #e9e9e9}
#idxBuildTable th{background-position:0 -225px;background-color:#e6e6e6;padding:6px;text-align:center;color:#fff}
.idxProList li{width:33%;text-align:center;float:left}
.idxProList a{display:block}
.idxProList img{margin-bottom:5px;text-decoration:none}
#newFunction{height:161px}
#newFunction .bd{padding:4px 10px}
#newFunction .bd a{display:block;line-height:24px}
/*media*/
.mediaContent .mediaOpr{line-height:20px}
.mediaOpr,.listOpr{margin:10px 0;overflow:hidden;zoom:1}
.listOpr button,.mediaOpr button{*margin-right:3px}
.num{color:#0067af;margin:0 2px}
.mediaNote{background:#fcf3e6;display:inline-block;*display:inline;zoom:1;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:8px 15px;line-height:20px;color:#646663;margin-top:20px}
#file_uploadUploader{width:56px;height:22px;vertical-align:middle;float:left}
/*booth edit*/
.boothHeader{height:30px;line-height:30px;padding:0 10px}
.boothHeader a{color:#fff}
#boothEdit{padding:0 6px 6px;min-width:1024px;}
.boothBuildToolbar{position:relative}
.boothBuildToolbar .rcl,.boothBuildToolbar .rcr{width:5px;height:41px;position:absolute;top:0}
.boothBuildToolbar .rcl{left:0}
.boothBuildToolbar .rcr{background-position:-7px 0;right:0}
.boothBuildToolbar .bd{margin:0 5px;background-position:0 -82px;height:41px;line-height:41px}
.boothBuildToolbar a{display:inline-block;padding:0 10px ;height:32px;line-height:32px;margin-top:4px;margin-left:8px;padding-left:30px;position:relative;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.boothBuildToolbar a:hover{background:#96c2f9;color:#333;text-decoration:none}
.boothBuildToolbar i{display:inline-block;width:22px;height:22px;position:absolute;left:5px;top:6px}
.btChoose{background-position:-3px -108px}
.btMove{background-position:-3px -131px}
.btWhirl{background-position:-3px -152px}
.btZoom{background-position:-3px -174px}
.btDel{background-position:-3px -196px}
.btCopy{background-position:-3px -218px}
.btChange{background-position:-3px -284px}
.btCancel{background-position:-3px -240px}
.btUpOpr{background-position:-3px -262px}
.boothBuildBody{margin:3px 0;overflow:hidden;zoom:1;position:relative}
.boothBuildExhib .bd,.boothBuildRight .bd{background:#fff;overflow:hidden;zoom:1;*margin-top:-1px}
.boothBuildExhib .boothBuildInfo{height:556px;overflow:auto}
.boothBuildRight .boothBuildInfo{height:583px;overflow:auto}
.boothBuildExhib{float:left;width:210px;zoom:1;overflow:hidden}
.boothBuildRight{width:210px;float:right}
.boothBuildTitle{height:28px;line-height:28px;padding:0 10px;background:url(../images/booth_side_top.gif) no-repeat;color:#fff}
.boothTab a{display:inline-block;width:50%;height:28px;line-height:28px;background-position:0 -195px;text-align:center}
.boothTab .cur{background:#fff;font-weight:bold}
.boothTab a:hover{color:#333;text-decoration:none}
.boothWrapBtm{display:block;width:210px;height:3px;background:url(../images/booth_side_top.gif) no-repeat 0 0;font-size:0;line-height:0;overflow:hidden;zoom:1}
.boothWrapBtm{background-image:url(../images/booth_side_btm.gif);height:4px}
.boothBuildInfo{padding:6px 0 0 12px;background:#fff}
.boothBuildMain{margin:0 213px;background:#828282;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:10px;min-height:602px;_height:602px}
.boothBuildExhib dd{position:relative}
.boothBuildInfo dd span{color:#999;margin-left:6px;position:absolute;right:10px;top:3px}
.boothBuildInfo dd strong{font-weight:normal;color:#f46e0b}
.boothBuildInfo li img{margin:10px 0 2px}
.boothSep{width:100%;background:url(../images/booth_sep.png) center center;height:1px;line-height:1px;display:block;margin:10px 0}
#phyProperty{zoom:1;padding-left:16px}
#phyProperty h4{margin:10px 0}
#phyProperty li{font-family:Arial, Helvetica, sans-serif;margin:5px 0}
#phyProperty li a{font-size:14px}
#phyProperty .t{border:1px solid #9bbae5;width:40px;padding:0 3px}
.minus,.increase,.open,.shrink{display:inline-block;width:15px;height:14px;text-indent:-9999px;background-position:0 -362px}
.increase,.open{background-position:-15px -362px}
.ttBox{margin-top:6px}
.ttBox a{margin-left:10px;color:#4171DF;text-decoration:underline}
#addMapPic{margin-left:20px}
.btOpr{border:0}
/*card*/
#cardShow{width:310px;padding:15px 15px 0;background:#f4f4f4;float:left}
#cardTemplate{width:508px;float:right;border:1px solid #e7e7e7;padding:6px 0 0 10px;min-height:504px;*min-height:508px;_height:504px;margin-bottom:20px}
.cardItem{width:310px;float:left;text-align:center}
.cardItem .box{border:solid 1px #d1d4d9;padding:10px 10px 0 15px;text-align:left;overflow:hidden;zoom:1;background:#fff url(../images/card_watermark.png) no-repeat;height:210px;position:relative}
.cardItem .choice{background:url(../images/shadow.png) no-repeat left top;height:14px}
.cardItem .cb{ padding-top:8px}
.cardItem ul{color:#000}
.cardItem li{line-height:20px}
.cardItem .back{position:absolute;right:10px;bottom:10px;font-weight:bold;color:#637895}
.box strong{line-height:1.6;margin-bottom:8px;display:block}
.name{font-size:14px;margin-right:7px}
.cardsP{border:solid 1px #cfe0f5;float:right}
#cardShow h2{font-weight:normal;margin:0 0 18px 130px}
#cardTemplate h2{margin-bottom:8px}
#cardTemplate h3{margin:10px 0 3px;font-weight:normal}
#cardTemplate ul{margin-left:-2px}
#cardTemplate li{float:left;margin:0 1px 1px 0;display:inline;padding:2px;border:2px solid #fff;}
#cardTemplate li a{display:block;text-indent:-9999px;height:50px;width:75px}
#cardTemplate .cur{border-color:#0073b5}
.cardTemInfo{clear:both;overflow:hidden;zoom:1;padding:0 4px}
.cardTemInfo label{margin-right:10px}
.cardTemInfo a{color:#4171DF}
.card_tem2,.card_tem3{background-image:url(../images/card_watermark4.png)!important}
.card_tem4,.card_tem5,.card_tem6,.card_tem7,.card_tem8{background-image:url(../images/card_watermark3.png)!important}
.card_tem9,.card_tem10,.card_tem11,.card_tem12{background-image:url(../images/card_watermark2.png)!important}
.card_tem1{background-color:#e9edf8!important}
.card_tem2{background-color:#c5df58!important}
.card_tem3{background-color:#f0d244!important}
.card_tem4{background-color:#62a5d4!important}
.card_tem5{background-color:#2fb7c3!important}
.card_tem6{background-color:#f0817a!important}
.card_tem7{background-color:#f07aac!important}
.card_tem8{background-color:#f5af71!important}
.card_tem9{background-color:#3b3b3b!important}
.card_tem9,.card_tem10,.card_tem11,.card_tem12{color:#fff}
.card_tem9 li,.card_tem10 li,.card_tem11 li,.card_tem12 li{color:#fff}
.card_tem10{background-color:#7a5485!important}
.card_tem11{background-color:#856454!important}
.card_tem12{background-color:#545b85!important}
.card_tem4 .back,.card_tem10 .back,.card_tem11 .back,.card_tem12 .back{color:#fff}
/*add product details*/
.proDeBox{border:1px solid #e4e4e4;padding:10px 0 10px 15px;display:inline-block;*display:inline;zoom:1}
.proDeBox .proDeImg{position:relative;left:-8px;clear:both}
.proDeBox small{margin-top:6px}
.proDeImg{overflow:hidden;zoom:1}
.proDeImg li{width:125px;padding:0 11px;float:left;text-align:center}
.proDeImg .proOuter{margin:5px auto 7px}
.proDeImg a{margin:2px 5px;display:inline-block}
.proSelect input{margin-right:3px}
#proMulMedia{width:735px}
#proMulMedia h3{font-weight:normal}
#proMulMedia ul{background:#f2f2f2;width:535px;margin:10px 0;padding-top:5px;overflow:hidden}
#proMulMedia li{margin:15px}
#proMulMedia li a,.proMediaVideo a{margin-left:10px}
#proMulMedia small{margin-top:0}
#proMulMedia label{ margin-right:0}
.proMediaVideo{float:left;width:300px}
.proVideoOpr{text-align:center;width:132px}
.proVideoOpr button{margin-bottom:4px}
.proVideoWrap{margin:7px 0 10px;width:132px;height:100px;display:inline-block;*display:inline;zoom:1}
.proMediaVideo .select{margin-left:57px}
#prodTypes{display:inline-block;*display:inline;zoom:1;background:#f5f7f8;border:1px solid #d0dcef;padding:0px 3px;margin:6px 0 0}
#prodTypes li{padding:3px 27px 3px 8px;color:#333;margin:3px 0;position:relative}
#prodTypes .cur{text-decoration:none;background:#d8e2f2}
#prodTypes a{margin-left:3px;display:inline-block;width:15px;height:15px;cursor:pointer;position:absolute;right:5px;top:6px}
#select_country,#userArea,#countryArea{float:left;margin-right:5px}
#userArea select{margin-right:5px}
.upload object{float:left;margin:0 5px 0 0}
.upload{margin-left:4px;}
div.upload{ display:inline-block;*display:inline;zoom:1; width:150px}
div.upload object{ margin:0}
.areaSel{margin-top:2px\9;color:#666}
#picUploader, #iconUploader,.uploadBtn,.upload object,#proMulMedia object{width:52px;height:22px;vertical-align:middle; text-decoration:none!important}
/*add card group*/
.allCards,.cardMv{float:left}
.allCards{width:320px}
.allCards .hd{font-weight:bold;color:#999;margin-bottom:5px}
.allCards .hd span{font-weight:normal}
.allCards .bd{height:300px;overflow-y:auto;overflow-x:hidden;background-color:#fff;border:1px solid #cecece;padding:1px;border-top:none}
.allCards th{text-align:left; padding:4px 0 4px 6px}
.allCards td{padding:4px 10px 4px 5px}
.cardMv{padding:165px 20px 0;width:80px}
.cardMv button{margin-bottom:10px}
.allList{border-collapse:collapse;border-spacing:0;width:100%}
.allList th{color:#677798;background-color:#e7ecf2}
.allList th,.allList td{padding:4px 2px;border-bottom:solid 1px #fff;text-align:left}
.allCards input{margin-top:3px}
.bgB{background-color:#f2f4f6}
.allCards .cur{background-color:#c2db95}
hr{border:0;border-top:1px dashed #dad9d9}
/**/
#broadcastSet{padding-left:10px}
.broadcastItem{margin-bottom:15px}
.broadcastItem h2{margin-bottom:4px}
.broadcastItem ul{margin-left:10px;overflow:hidden;zoom:1}
.broadcastItem li{width:20%;float:left;padding:3px 0}
/**/
.limitSet{width:600px;margin-bottom:-8px}
.limitSet li{float:left;width:136px;width:140px\9;margin-bottom:4px; height:25px}
.cardManage .cardItem{ margin:0 20px 10px 0; display:inline}
.cardManage { margin-bottom:20px; overflow:hidden;zoom:1}
.upPsw{ position:relative}
.upPsw label{ position:absolute; left:215px; top:1px}
/**/
.detForm th{ background:#f0f6fb; font-weight:normal; text-align:right}
.detForm th,.detForm td{ border:1px solid #c7cdd2; padding:4px 10px}
.detForm a{color:#4171DF}
#letterTitle th{ text-align:left; padding-left:40px}
#letterTitle strong{ margin-left:21px}
#attachment span{ margin-right:10px}
#attachment a{ color:#4171DF;white-space:nowrap;}
.contactInfo{ line-height:2; padding:5px 0}
.contactInfo span{ display:inline-block; width:65px; text-align:right}
.contactInfo button{ margin-top:6px}
.letterPage{ width:60%; text-align:right; padding:10px 0}
.letterPage a{ margin-left:8px; color:#4171DF}
.letterPage a:hover{ color:#ff8300}
.letterContent{ height:260px; overflow-y:auto; padding:5px 10px}
#busScope{ width:595px; padding:8px 10px}
#busScope label{ display:inline-block; width:130px; margin-bottom:6px}
#busScope small{ margin:4px 0 0; padding:0}
.editName{ text-align:left!important}
#attachDiv{ margin:5px 0}
#attachDiv span{ margin-right:10px}
#attachDiv span img{ margin-left:3px}
/**/
#contactDiv{ margin-top:10px}
#orderDetail h3{ margin:20px 0 8px; color:#666}
.accountInfo p{ margin-bottom:10px}
.price{ font-size:16px; font-family:Arial; color:#d74801}

/*  rewrite by fanmin 2012.03.14  */
.mall-re {width:865px;border-bottom:2px solid #ccc;margin-bottom:2px;font-size:14px;padding:0 0 3px 5px;}
.indexBox-re {width:648px;margin-bottom:0;margin-top:10px}
.indexBox .bd-re {padding-bottom:0;}
.list-3d {padding:10px 25px 0}
.list-3d li {float:left;display:inline;margin:0 55px 5px 0;}
.list-3d .lastli {margin-right:0}
.list-dre {padding-top:23px}
.list-dre  li {padding-bottom:30px}
.list-3d img {vertical-align:bottom}
.list-3d .list-link {position:relative;float:left;width:96px;height:96px;border:1px solid #d0e0f6;padding:1px;}
.list-3d h2 {clear:both;font-weight:normal;width:100px;text-align:center;padding:4px 0;line-height:21px}
.list-3d h2 a:hover {background:none}
.orginal-price,.integral {display:block;width:100px;text-align:center;font-size:12px;color:#888}
.integral {color:#333;font-weight:normal}
.integral em {font-weight:bold;color:#da4d01}
.myintegral {border:1px solid #ffc24c;background:#fff4e0;width:188px;margin-top:10px;padding:10px;min-height:100px;_height:100px}
.myintetxt {font-size:14px;font-weight:bold;padding-bottom:10px}
.myintetxt span {font-size:12px;font-weight:normal}
.myintetxt em {color:#da4d01;font-weight:bold;}
.look-to a{color:#4071df}
.look-to a:hover {color:#ff8300}
.voMain-re {float:right;width:870px;margin-top:10px}

.confirm-address {width:870px;}
.confirm-item {width:650px;margin-bottom:5px}
.confirm-item  h3 {padding:10px 10px 8px 10px}
.infobox {position:relative;border:1px solid #ccc;}
.info-l,.info-r ,.info-title{background:url(../images/iconbox.gif) no-repeat}
.info-l {position:absolute;width:3px;height:3px;background-position: 0 -32px;left:-1px;top:-1px}
.info-r {position:absolute;width:3px;height:3px;background-position: -3px -32px;right:-1px;top:-1px}
.info-title {padding:0 5px;height:32px;line-height:32px;background-position:0 0px;background-repeat:repeat-x}
.info-title th {text-align:center;font-weight:normal}
.info-detail {padding:15px 0}
.info-detail td {text-align:center;padding:10px 0}
.infotext {width:386px;border:1px solid #d8d8d8;height:160px;overflow:hidden}
.add-re {display:block;font-size:12px;margin-top:12px}
.messagead {margin-left:20px;color:#4071df;font-weight:normal}
.infocho {padding:10px;height:auto;padding-bottom:5px}
.infocho input {margin-right:5px}
.infocho p{padding-bottom:10px}
.info-detail a img{width:46px;height:46px;border:1px solid #d0e0f6;padding:1px;}

.product-show{margin-top:10px}
.bigproduct {float:left;width:300px;}
.big-pic img {width:296px;height:296px;border:1px solid #d0e0f6;padding:1px;}
.pro-list {margin:10px 10px 5px 10px }
.pro-list li{float:left;width:50px;height:51px;padding:8px 1px 0 1px;margin:0 2px;display:inline}
.pro-sub-list {width:50px;height:50px;}
.pro-sub-list img {display:block;width:46px;height:46px;border:1px solid #d0e0f6;padding:1px;}
.pro-list .procur {background:url(../images/probox.gif) no-repeat ;}
.pro-detail {float:left;margin-left:20px;display:inline;}
.pro-detail h3 {font-size:14px;padding:5px 0}
.pro-detail li {padding:8px 0}
.pro-input {border:1px solid #cecece;height:18px}
.add-m {margin-left:62px;background-position:0 -123px;height:21px;width:61px;text-align:center;line-height:21px}
.br-fm {line-height:24px}

.boothTab2 a{color:#b5b5b5;}
.boothTab2 a{background:url(../images/fm.gif) 0 0}
.boothTree2 dt{background:url(../images/plus.gif) no-repeat 0 0}
.boothTree2 dd,.boothTree2 dd a,.boothTree2 dd span,.boothTree2 dd strong,.boothBuildInfo2  {color:#b5b5b5}
.boothBuildInfo2 .tietu {color:#333}
.minus2  {background:url(../images/minus.gif) no-repeat 0 0}
.increase2 {background:url(../images/intreas.gif) no-repeat 0 0}
.bdfm a {color:#b5b5b5;}
.bdfm .btcuttent {color:#333}
.popBtn2 {margin-left:10px}
.boothTab2 a:hover{color:#b5b5b5;}
.bdfm a:hover {background:none;color:#b5b5b5;cursor:default}
.bdfm a.btcuttent:hover {background:#96c2f9;color:#333;text-decoration:none;cursor:pointer}
.boothTab .cur-remt a ,.boothTab .cur-remt{float:left;width:105px;_width:102px}

html,body {height:100%;margin:0;padding:0}
#chats {width:360px;position:absolute;z-index:10000}
#chatbg {width:100%;height:100%;position:fixed;_position:absolute;left:0;top:0;background:#000;z-index:9999}
.chat-item {padding:10px;line-height:18px}
.chat-item .chat-title {color:#507ac4;padding-bottom:4px}
.chatname {font-weight:normal}
.chatname span {margin-right:5px}
.chater {margin-bottom:10px}
.chatmode {margin-bottom:15px}

.contact-letter {width:570px;border:1px solid #c7cdd2;border-bottom:none;margin-top:10px;}
.contact-letter div {border-bottom:1px solid #c7cdd2}
.contact-letter .last-letter {background:#f0f6fb;}
.contact-letter label {float:left;width:72px;text-align:right;border-right:1px solid #c7cdd2;padding:5px 0;background:#f0f6fb;}
.contact-letter .inportantman {color:#0066cc;}
.inportantman a {color:#0066cc;text-decoration:underline}
.contact-letter .concolor {color:#333;}
.contact-letter .theme-con {float:left;width:477px;padding:5px 10px;background:#fff;border:none;font-weight:bold;margin-top:2px}
.contact-letter .concrete {float:left;width:477px;padding:5px 10px;background:#fff;border:none;margin-top:2px;font-weight:normal}
.con-textarea {float:left;width:477px;padding:5px 10px;min-height:128px;_height:128px;border:none;overflow-y:auto}
.contact-letter .content-detail {min-height:128px;_height:128px;}
.contact-letter .inportantman2 {width:550px;color:#333;text-align:left;padding:10px;border-right:none; }
.contact-letter .vercode {width:70px;height:20px;line-height:20px;border:1px solid #c7cdd2;margin:3px 0 0 5px;}
.ver-img {width:60px;height:20px;margin-left:10px;border:none;margin-top:3px}
.letter-send {margin:20px 0 0 365px;padding-bottom:20px}
.letter-send  .add {margin-right:10px}
.contact-letter .new-file {position:relative;border-bottom:none}
.filer {width:55px;height:25px;background:#000;overflow:hidden;position:absolute;left:8px;top:0;cursor:pointer;opacity:0;filter:alpha(opacity=0);}
.file-re {cursor:pointer}
.word-doc {float:left;background:url(../images/word.gif) no-repeat 0 0;padding-left:20px;height:18px;margin:5px 10px 0 5px;display:inline}
.file-dele {float:left;color:#0066cc;text-decoration:underline;margin:5px 10px 0 0}

.boothTree .open-re {background:url(../images/tree_open.gif) no-repeat 0 7px; }